    {% extend 'index.html' %}

    {% block content %} 
        <h1>Delate Post</h1>
        <strong> {{post.title}}</strong>
        <p>{{ post.desc }}</p>
        <p>{{ post.created_at }}</p>
        <hr>
        {% if post.imsge %}
        <img src="{{ post.image.url }}" alt="">
        {% endif %}
        <hr>
        <a href="{% url 'update_post' Post.id %}"  class="btn btn-primary">edit</a>
        <a href="{% url 'delate_post' Post.id %}"  class="btn btn-primary">delete</a>
        <a href="{% url 'add_comment' Post.id %}"  class="btn btn-secondary">add comment</a>
        {% if post.Comment.all %}
            {% for comment in Post.commemt.all %}
                <p> {{ comment }} </p>
                <p> {{ desc }} </p>
                <p> {{ created_at }} </p>
        
        {% endfor %}
        {% endif %}
    {% endblock %}